.container {
	opacity: 0.95;
}

body {
	background-color: #fff;
}

#menuBG {
	margin: 0% auto;
	width: 650px;
	border-radius: 25px; 
	padding: 1px 0px;
	opacity: 1;
}

#menuBG>h1 {
	font-family: 'Anton', sans-serif;
	font-size: 60px;
	color: red;
	text-shadow: 1.5px 1.5px 100px #fff, 1px 1px 50px #000;
	margin: -2% 0 0 auto;
	text-align: center;
}

#frmMenu {
	margin: 0% auto;
	align: right;
	width: 550px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
	border-radius: 25px;
}

.menu { 
	flex: 1 150px;
	min-width: 0;
	border: 2px solid #080054;
	box-shadow: 0 0 0 3px rgba(255,255,255, .7);
	padding: 0 0 10px 0;
}

.menu:nth-child(even) {
	background-color: rgba(244, 245, 247, 0.9);
	border-radius: 25px;
}

.menu:nth-child(odd) {
	background-color: rgba(234, 235, 237, 0.9);
	border-radius: 25px;
}

.menu>H3 {
	color: #fff;
	padding: 0 0 0 60px;
	margin: 0 auto;
	background-color: red;
	border-radius: 25px 25px 0 0;
	text-shadow: 1.5px 1.5px 5px #00f, 1px 1px 5px #000;
}

.button {
	cursor: pointer;
	color: #fff;
	width: 100%;
	display: block;
	text-decoration: none;
	border-radius: .5em;
	margin: 1% auto;
	padding: .1px 0 .1px 0px;
    font: 18px sans-serif;
	background-color: red; /*#6486bc;*/
	box-shadow: 0 0 0 2px rgba(255,255,255, .8);
	transition-property: transform background, box-shadow, color;
	transition-duration: .3s, .5s, .2s;
	transition-timing-function: eas-out-in;
}

.button>p {
	text-align: center;
	font-weight: bold;
}

.button:hover {
	font: 18px sans-serif;
	font-weight: bold;
	color: #000;
	background-color: rgba(255, 255, 255, .6);
	box-shadow: 0 0 0 2px #080054;
}

.controls {
	display: flex;
    flex-direction: columns;
    justify-content: space-between;
	margin: 0 auto;
	width: 550px;
}

.controls>.button {
	flex: 1 150px;
}

#cart {
	opacity: 0;
	margin: 15px auto;
	width: 550px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
	background-color: white;
	border: 2px solid #080054;
	box-shadow: 0 0 0 3px rgba(255,255,255, .8);
	border-radius: 25px;
}

#title1 {
	color: #fff;
	flex: 1 250px;
	height: 50px;
	width: 250px;
	padding: 0 0 0px 10px;
	background-color: red;
	border-radius: 25px 0 0 0;
	text-shadow: 1.5px 1.5px 5px #00f, 1px 1px 5px #000;
}

#title2 {
	color: #fff;
	flex: 1 250px;
	height: 50px;
	width: 250px;
	padding: 0 0 0px 10px;
	background-color: red;
	border-radius: 0 25px 0 0;
	text-shadow: 1.5px 1.5px 5px #00f, 1px 1px 5px #000;
}

#showText1 {
	font-size: 13px;
	flex: 1 250px;
	padding: 1px 0 10px 10px;
	width: 250px;
	border-radius: 0 0 0 0;
}

#showText2 {
	font-size: 13px;
	flex: 1 250px;
	padding: 1px 0 10px 10px;
	width: 250px;
	border-radius: 0 0 0 0;
}

#totalPrice1 {
	flex: 1 250px;
	padding: 0 0 10px 10px;
	width: 250px;
	border-radius: 0 0 0 0;
}

#totalPrice2 {
	flex: 1 250px;
	font-weight: bold;
	padding: 20px 0 10px 10px;
	width: 250px;
	border-radius: 0 0 0 0;
	text-color: #FF5500
}
